body {
    margin: 60px auto;
    width: 70%;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    font-weight: 300;
}

nav ul {
    padding-inline-start: 0px;   
}

ul li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    font-family: "Roboto Mono", Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    text-decoration: underline;
    color: #555;
}

a:hover {
    text-decoration: underline;
    color: #b0dfe5;
}

h1 {
    font-size: 3em;
    font-weight: 500;
}

p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.4em;
    color: darkgray;
}

.image {
  height: 300px;   
  border-radius: 10px;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content ul li {
  display: list-item;
}

.blurb {
    display: flex;
    flex-direction: row;
}

.blurb-text p {
  color: #555;
}
